@model PatientManagementSystem.ViewModel.DoctorFormViewModel
@{
    ViewBag.Title = "DoctorForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Doctor"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Doctor.Name)
        @Html.TextBoxFor(m => m.Doctor.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Doctor.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Doctor.Surname)
        @Html.TextBoxFor(m => m.Doctor.Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Doctor.Surname)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Doctor.DoctorTypeId)
        @Html.DropDownListFor(m => m.Doctor.DoctorTypeId, new SelectList(Model.DoctorTypes, "DoctorTypeId", "DoctorTypeDescription"), "Select Specialization", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Doctor.DoctorTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Doctor.PracticeNo)
        @Html.TextBoxFor(m => m.Doctor.PracticeNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Doctor.PracticeNo)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Doctor.Address)
        @Html.TextAreaFor(m => m.Doctor.Address, new { @class = "form-control", placeholder = "please add address", style = "height: 80px" })
        @Html.ValidationMessageFor(m => m.Doctor.Address)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Doctor.Email)
        @Html.TextBoxFor(m => m.Doctor.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Doctor.Email)
        <p>Please provide registered user email address</p>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Doctor.PhoneNo)
        @Html.TextBoxFor(m => m.Doctor.PhoneNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Doctor.PhoneNo)
    </div>


    @Html.HiddenFor(m => m.Doctor.DoctorId)
    //Implement Forgery Token
    @Html.AntiForgeryToken();
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
}

@section scripts
{


    @Scripts.Render("~/bundles/jqueryval")
}

